@use "sass:meta";

@media (prefers-color-scheme: light) {
  @include meta.load-css("highlight.js/styles/github.min.css");
}
@media (prefers-color-scheme: dark) {
  @include meta.load-css("highlight.js/styles/github-dark.min.css");
}
