@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply select-none;
  @apply bg-cover bg-center bg-fixed;
  @apply overflow-x-hidden;
}
body::after {
  content: "";
  @apply pointer-events-none;
  @apply bg-cover bg-center;
  @apply absolute top-0 left-0 right-0 bottom-0;
  @apply -z-10;
  background-image: var(--after-background);
  opacity: var(--after-opacity, 0);
}
body::after.bg-in {
  @apply transition-opacity duration-1000 ease-in-out;
}
