name: Docker Image CI

on:
  push:
    branches: ["main", "mirror"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - run: git fetch --unshallow

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10

      - run: pnpm install

      - run: pnpm build

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: xiyang6666
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag xiyang6666/shirosakihana_moe:$(git rev-parse --abbrev-ref HEAD)

      - name: Push the Docker image
        run: docker push xiyang6666/shirosakihana_moe:$(git rev-parse --abbrev-ref HEAD)
